{% extends 'base.html' %}
{% load bootstrap %}


{% block main %} 
    <img src="{{ object.foto.thumbnail.url }}" alt="">
    <form method="post">
        {% csrf_token %}
        {{ form|bootstrap }}
        <button type="submit" class="btn btn-success">Salvar</button>
    </form>
    <br>
    <h4>Documentos</h4>
    {% for documento in object.documento_set.all %}
        <ul>
            <li><a href="{{ documento.documento.url }}" target="_blank">{{ documento }}</a></li> 
        </ul>
    {% endfor %}
    <a href="{% url 'create_documento' object.id %}" class="btn btn-info">Adicionar Documento</a>
    <br>
    <br>
    <h4>Registro Hora Extra</h4>
    {% for registro in object.registrohoraextra_set.all %}
        {% if registro.utilizada == True %}
            <ul>
                <a href="{% url 'edit_hora_extra' registro.id %}">
                    <li style="color: darkgreen; font-weight: bolder;">
                        {{ registro.motivo }} | horas {{registro.horas}} - Horas já utilizada
                    </li>
                </a>
            </ul>
        {% else %}    
            <ul>
                <a href="{% url 'edit_hora_extra' registro.id %}">
                    <li >
                        {{ registro.motivo }} | horas {{registro.horas}}
                    </li>
                </a>
            </ul>
        {% endif %}
    {% endfor %}
    
    <h5>Total Hora Extra: {{ object.total_hora_extra }}</h5>

    <a href="{% url 'pdf_relatorio' object.id %}" class="btn btn-info" target="_blank">Gerar Relatorio PDF</a>
{% endblock %}