{% extends 'base.html' %}
{% load static %}
{% load bootstrap %}


{% block main %} 
    <form method="post">
        {% csrf_token %}
        {{ form|bootstrap }}
        <button type="submit" class="btn btn-success">Salvar</button>
        <br>
    </form>
    <br>

    <button onclick="testejs()">testar</button>
    <button onclick="utilizouHoraExtra({{ object.id }})" class="btn btn-info">Marcar Hora Utilizada</button>

    <p id="mensagem"></p>
{% endblock %}

{% block static %}
    <script src="{% static 'js/jquery.js' %}"></script>
    <script src="{% static 'js/funcoes_ajax.js' %}" ></script>
{% endblock %}



