{% extends 'base.html' %}
{% load static %}
{% load bootstrap %}


{% block main %} 
    <form method="post">
        {% csrf_token %}
        {{ form|bootstrap }}
        <button type="submit" class="btn btn-success">Salvar</button>
        <button onclick="utilizouHoraExtra({{ object.id }})" class="btn btn-info" type="button">
            Marcar Hora Utilizada
        </button>
        <button onclick="desmarcarHoraExtra({{ object.id }})" class="btn btn-danger" type="button"> 
             Desmarcar Hora Utilizada 
        </button>
    </form>
    <br>
    {% if object.funcionario.hora_utilizada %}
        <p style="color: darkgreen; font-weight: bolder;">Hora marcada como utilizada</p>
    {% else %}
        <p style="color :darkblue; font-weight: bolder;">Hora Extra não utilizada</p>
    {% endif %}
    <p id="mensagem"></p>
    <p>Total de horas sobrando</p>
    <h4 id="horas_utilizadas"> {{ object.funcionario.total_hora_extra }}</h4>
{% endblock %}

{% block static %}
    <script src="{% static 'js/jquery.js' %}"></script>
    <script src="{% static 'js/funcoes_ajax.js' %}" ></script>
{% endblock %}



